:root {
  --content-max-width: 1080px;
  --font-family-main: "Karla", sans-serif;
  --font-family-heading: "Rubik", sans-serif;

  --color-foreground: #16222f;
  --color-background: #ffffff;

  --color-brand: #6c3fe8;
  --color-accent: #b64bad;
  --color-contrast: #fe88ae;

  --color-muted: #c2c7cb;
}

html {
  font-size: 100%;
  padding: 0;
  margin: 0;
}

body {
  font-size: 1rem;
  font-family: var(--font-family-main);
  color: var(--color-foreground);
}

* {
  box-sizing: border-box;
  margin: 0;
}
